/Saved
/Intermediate
/.vs
/Build
*.sln
*_BuiltData.uasset
/Binaries
Binaries/Win64/UE4Editor-Game_Planning_Task.dll
Content/StarterContent/Architecture/Floor_400x400.uasset
Plugins/RTXGI/Binaries/Win64/UE4Editor-RTXGI.dll
Plugins/RTXGI/Binaries/Win64/UE4Editor-RTXGI.pdb
Plugins/RTXGI/Binaries/Win64/UE4Editor-RTXGIEditor.dll
Plugins/RTXGI/Binaries/Win64/UE4Editor-RTXGIEditor.pdb
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Inc/RTXGI/Timestamp
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Definitions.RTXGI.h
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Definitions.RTXGI.h.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.cpp
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.cpp.obj
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.cpp.obj.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.cpp.obj.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.cpp.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.cpp.txt
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.gen.cpp
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.gen.cpp.obj
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.gen.cpp.obj.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.gen.cpp.obj.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.gen.cpp.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4/Shipping/RTXGI/Module.RTXGI.gen.cpp.txt
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.cpp
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.cpp.obj
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.cpp.obj.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.cpp.obj.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.cpp.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.cpp.txt
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.gen.cpp
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.gen.cpp.obj
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.gen.cpp.obj.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.gen.cpp.obj.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.gen.cpp.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/Module.RTXGI.gen.cpp.txt
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.dll.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.dll.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.exp
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.lib
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.lib.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.lib.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.suppressed.exp
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGI/UE4Editor-RTXGI.suppressed.lib
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/Module.RTXGIEditor.cpp
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/Module.RTXGIEditor.cpp.obj
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/Module.RTXGIEditor.cpp.obj.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/Module.RTXGIEditor.cpp.obj.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/Module.RTXGIEditor.cpp.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/Module.RTXGIEditor.cpp.txt
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.dll.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.dll.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.exp
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.lib
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.lib.response
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.lib.response.old
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.suppressed.exp
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Development/RTXGIEditor/UE4Editor-RTXGIEditor.suppressed.lib
Plugins/RTXGI/Intermediate/Build/Win64/UE4Editor/Inc/RTXGI/Timestamp