/Saved
/Intermediate
/.vs
/Build
*.sln
*_BuiltData.uasset
/Binaries
Win64/UE4Editor-Game_Planning_Task.dll
/Plugins/RTXGI/Binaries
/Plugins/RTXGI/Intermediate
/Plugins/DLSS/Binaries
/Plugins/DLSS/Intermediate