# Auto detect text files and perform LF normalization
* text=auto
Bricks076C_8K_NormalGL.uasset filter=lfs diff=lfs merge=lfs -text
Bricks076C_8K_NormalDX.uasset filter=lfs diff=lfs merge=lfs -text
Bricks076C_8K_Color.uasset filter=lfs diff=lfs merge=lfs -text
